<h1 mat-subheader *ngIf="category != null">Boardgame Category: {{ category }}</h1>
<h1 mat-subheader *ngIf="searchQuery != null">Searching For: {{ searchQuery }}</h1>
<mat-spinner class="spinner" [diameter]="35" *ngIf="loading"></mat-spinner>
<mat-action-list>
  <button
    mat-list-item
    *ngFor="let bg of activeBoardgamePage"
    (click)="selected(bg.ID)"
  >
    {{ bg.Name }}
  </button>
</mat-action-list>

<mat-paginator #paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChanged($event)"
>
</mat-paginator>
