<form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1vh" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Search Boardgame</mat-label>
    <input matInput [(ngModel)]="searchInput" name="serchInput" placeholder="Search by Name" />
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>search</mat-icon> Search
    </button>
  </div>
</form>

<mat-action-list>
  <h1 mat-subheader>Boardgame Categories</h1>
  <button
    mat-list-item
    *ngFor="let c of categories.categories"
    (click)="selected(c._id.category)"
  >
    {{ c._id.category }}
  </button>
</mat-action-list>
