<br />
<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around"></div>
  <div class="header">
    <form
      class="example-form"
      [formGroup]="commentForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <mat-form-field class="name">
          <input matInput placeholder="Name" formControlName="user" />
        </mat-form-field>
        <mat-form-field class="rating">
          <mat-select placeholder="Rating" formControlName="rating">
            <mat-option *ngFor="let r of ratings" [value]="r">
              {{ r }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="comment">
          <textarea
            matInput
            required
            placeholder="Leave a comment"
            formControlName="comment"
          ></textarea>
        </mat-form-field>
        <button
          class="button"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!commentForm.valid"
        >
          Add
        </button>
      </div>
    </form>
    <h3 class="reviews">
      <a [routerLink]="back" mat-mini-fab color="primary">
        <mat-icon>arrow_back</mat-icon>
      </a>
      Game Reviews ({{ commentList.comments.length }})
    </h3>
  </div>
  <div class="middle" id="commentBox">
    <mat-card *ngFor="let comment of activePageComments" class="myCard">
      <mat-card-subtitle>
        <b>{{ comment.user }}</b> {{ comment.rating }} / 10
      </mat-card-subtitle>
      <mat-card-content>
        {{ comment.comment }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="footer">
    <mat-paginator
      [length]="commentList.comments.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChanged($event)"
    >
    </mat-paginator>
  </div>
</div>
